@model IEnumerable<WebApplication1_MVC_City_Country_state_register4.Models.Register>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-primary">Register New Users</h2>
@Html.ActionLink("Create","Create",new {@class="btn btn-primary" })
@if(!Model.Any())
            {
                <p class="text-capitalize text-danger ">Data not found</p>
}
else
            {
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Subscribe</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                using (Html.BeginForm("Delete", "Register", new { id = item.Id }))
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>@item.Email</td>
                        <td>@item.Gender</td>
                        <td>@item.Subscribe</td>
                        <td>@item.City.State.Country</td>
                        <td>@item.City.State</td>
                        <td>@item.City</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                            <input type="submit" value="Delete" class="btn btn-primary" onclick="return confirm('Want to delete the data')" />
                        </td>
                    </tr>
                }


            }
        </tbody>
    </table>

            }

