@model IEnumerable<WebApplication1_MVC_Country_State_City_Register3.Models.Register> 
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-info">Register User</h2>

@Html.ActionLink("Create New User", "Create","Register", new {@class="btn btn-primary" })

<br />
<br />

@if(!Model.Any())
            {
                <p>No data Found</p>
            }
            else
            {
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Subscribe</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            using (Html.BeginForm("Delete", "Register", new { id = item.Id }))
                            {

                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Address</td>
                                    <td>@item.Email</td>
                                    <td>@item.Gender</td>
                                    <td>@item.Suscribe</td>
                                    <td>@item.City.State.Country.Name</td>
                                    <td>@item.City.State.Name</td>
                                    <td>@item.City.Name</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        <input type="submit" value="Delete" class="btn btn-link" onclick="return confirm('Want to delete data?')" />

                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            }

