@model IEnumerable<WebApplication1_MVC__ctry_cpuny.Models.Register>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-info">Register</h2>

@Html.ActionLink("Create New User", "Create", "Register", new { @class = "btn btn-info" })

@if(!Model.Any())
            {
                <p class="text-justify">No data Found</p>
            }
            else
            {
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Subscribe</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            using (Html.BeginForm("Delete", "Register",new {id=item.Id }))
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Address</td>
                                    <td>@item.Email</td>
                                    <td>@item.gender</td>
                                    <td>@item.Subscribe</td>
                                    <td>@item.City.State.country.Name</td>
                                    <td>@item.City.State.Name</td>
                                    <td>@item.City.Name</td>
                                    <td>
                                        @Html.ActionLink("Edit User", "Edit","Register", new {id=item.Id }, new { @class = "btn btn-info" })
                                        @Html.ActionLink("Details of User","Details","Register",new {id=item.Id },new {@class="btn btn-info" })
                                        <input type="submit" value="Delete" class="btn btn-info" onclick="return confirm('want to delete the data?')"/>
                                    </td>
                                </tr>

                            }

                        }
                    </tbody>
                </table>
            }

