@model IEnumerable<WebApplication1_Mvc_Upsert_Save.Models.Employee>
    <h2 class="text-primary text-center">Employee Detail</h2>
<br />
<br />
@Html.ActionLink("Create New Employee", "Upsert", "Employee",new {@class="btn btn-info"})
<br />
<br />
@if(!Model.Any())
            {
                <p class="text-danger">No Employee found</p>
            }
            else
            {
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Salary</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in Model)
                        {
                            using(Html.BeginForm("Delete","Employee",new {id=employee.Id }))
                    {
                        <tr>
                            <td>@employee.Name</td>
                            <td>@employee.Address</td>
                            <td>@employee.Salary</td>
                            <td>
                                @Html.ActionLink("Edit", "Upsert", new { id = employee.Id })
                                @Html.ActionLink("Details", "Details", new { id = employee.Id })
                                @*@Html.ActionLink("Delete","Delete",new {id=employee.Id })*@
                                <input type="submit" value="Delete" class="btn btn-link" onclick="return confirm('Want to delete the data?')" />
                            </td>
                        </tr>
                    }
                            
                        }
                    </tbody>
                </table>
            }
